@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@source "./src/**/*.{js,jsx,ts,tsx}";

@plugin "daisyui" {
    themes: all;
}

* {
    font-family: "Manrope", sans-serif !important;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 90% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}



.str-chat__header-hamburger {
    display: none;
}