@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@source "./src/**/*.{js,jsx,ts,tsx}";
@plugin "daisyui" {
    themes: all;
}
* {
    font-family: "Manrope", sans-serif !important;
}
html {
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
}
